<!DOCTYPE html>
<html>

<head>
    <title>RSS Feed Viewer</title>
    <style>
        /* Center the header */
        .header {
            text-align: center;
        }

        /* Add some styles to the header text */
        .header h1 {
            font-size: 36px;
            font-weight: bold;
            color: #333;
            margin: 0;
            padding: 20px 0;
        }
    </style>
</head>

<body>
    <div class="header">
        <h1 style="text-align: center;">
            RSS Feed:
            <span style="font-size: smaller; font-weight: normal;">{{ rss_feed_name }}</span>
        </h1>

    </div>
</body>

</html>